html, body {
  width: 98%;
  height: 98%;
};
.noselect {
  -khtml-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.button {
  color: #fff;
  background-color: #7d858c;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  outline: none;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 22px;
  cursor: pointer;
  width: 60px;
}
.input-symbol {
  outline-color: #7d858c;
  flex: 1;
  height: 18px;
  border: 1px solid #cfcfcf;
}
.input-symbol::selection {
  background: #D8DADC; /* WebKit/Blink Browsers */
  
}
.input-symbol::-moz-selection {
  background: #D8DADC; /* Gecko Browsers */
}
.input-field {
  display: flex;
  align-content: center;
}
.data_div{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  background: #fff;
}
label{
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.div_name{
  cursor: pointer;
  display: flex;
  flex-flow: column;
  max-width: 99%;
}
.mouseover{
  background: rgba(200, 200, 200, 0.5);
}
.not_found{
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.info_div{
  margin-top: 10px;
}
.select_div{
  display: flex;
  flex-flow: row;
}
select{
  min-width: 100px;;
  color: rgb(68, 68, 68);
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  outline-color: rgb(216, 218, 220);
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-image: initial;
  border-radius: 2px;
  flex: 1;
  user-select: none;
}
select:focus > option:checked { 
  background: #D8DADC !important;
}
.res_label{
font-size: 13px;
border: 1px solid #D8DADC;
}