html, body {
  width: 98%;
  height: 98%;
};
.noselect {
  -khtml-user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.button {
  color: #fff;
  background-color: #7d858c;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  outline: none;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 22px;
  cursor: pointer;
  width: 60px;
}
.input-symbol {
  outline-color: #7d858c;
  flex: 1;
  height: 18px;
  border: 1px solid #cfcfcf;
}
.input-symbol::selection {
  background: #D8DADC; /* WebKit/Blink Browsers */
  
}
.input-symbol::-moz-selection {
  background: #D8DADC; /* Gecko Browsers */
}
.input-field {
  display: flex;
  align-content: center;
}
.data_div{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  background: #fff;
  cursor: pointer;
}
label{
  cursor: pointer;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.label_search{
  width: -moz-min-content;
  width: min-content;
}
.div_name{
  display: flex;
  flex-flow: column;
  max-width: 50%;
}
.div_type{
  display: flex;
  max-width: 50%;
}
.mouseover{
  background: rgba(200, 200, 200, 0.5);
}
.not_found{
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}