.ulll {
  display: none;
  float: left;
  min-width: 171px;
  max-height: 150px;
  padding: 2px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 13px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  overflow: hidden;
}
.btnnn {
  display: flex;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.div_input {
  display: flex;
  height: 20px;
  width: 171px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
}
.inputtt {
  padding-left: 4px;
  font-size: 0.9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 146px;
  border: none;
  outline: none;
}
.custom_select {
  width: fit-content;
}
.liii {
  font-size: 1.15em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: calc(100% - 4px);
  min-width: calc(100% - 4px);
  cursor: pointer;
  padding-left: 4px;
}
.selecteddd {
  background-color: #7d858c;
}
.hoverrr {
  background-color: #d8dadc;
}
.arrow_hover {
  background-color: #d8dadc;
}
input::selection {
  background: #D8DADC; /* WebKit/Blink Browsers */
}
input::-moz-selection {
  background: #D8DADC; /* Gecko Browsers */
}
.control_down {
  background-image: url(../../../web-apps/apps/common/main/resources/img/controls/common-controls.png);
  background-repeat: no-repeat;
  width: 7px;
  height: 7px;
  background-position: -85px -96px;
}
.ps__scrollbar-y-rail {
  margin: 3px 0 3px 0;
}